# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
ansible/inventory.ini
*.retry
ansible/group_vars/all/vault.yml
ansible/host_vars/*/vault.yml

# Secrets
.env
*.pem
*.key
credentials.json
